.character_title_button {
  align-self: center;
}

.character_reset {
  border-color: @danger_color;
  color: @danger_color;
  margin-left: 10px;

  &:hover {
    background-color: @danger_color;
    color: @text_color;
  }
}

.inner_field {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 100%;
}

@media (max-width: @mobile_width) {
  .inner_field {
    flex-direction: column;
  }

  .title_buttons {
    text-align: center;
  }

  .character_reset {
    margin: 10px 0 0 0;
  }

  .character_profiles {
    align-items: center;
    margin: 10px 0 20px 0;
  }
}