.character_title_button {
  align-self: center;
}

.character_reset {
  border-color: @danger_color;
  color: @danger_color;
  margin-left: 10px;

  &:hover {
    background-color: @danger_color;
    color: @text_color;
  }
}

.inner_field {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 100%;
}