.character_select_title {
  color: @main_color;
  text-align: left;
  margin: 0;
  font-size: 24px;
  line-height: 26px;
}

.character_title_button {
  align-self: center;
}

.character_reset {
  border-color: @danger_color;
  color: @danger_color;
  margin-left: 10px;

  &:hover {
    background-color: @danger_color;
    color: @text_color;
  }

  &:disabled {
    border-color: #cccccc;
    color: #cccccc;
    pointer-events: none;
    opacity: 0.5;
  }
}

.inner_field {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 100%;
}