body {
  margin: 0;
  background-color: @background_color;
}

#app {
  font-family: 'Nunito', Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: @text_color;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: @text_color;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}

.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

img {
  max-width: 100%;
  max-height: 100%;
}